body {
	background-image: url("Cabin_Night.png");
	color:#FFF;
	font-size:16px;
	font-family:Lucida,Helvetica;
	font-weight:500;
}


input[type=checkbox] {
	visibility: hidden;
}

a {
	text-decoration: none;
	color:#FFF;
}

.subredditLink, .subredditLink:visited{
	color:#CCC;
	text-decoration: none;
	font-size: 12px;
}

.subredditLink:hover{
	color:#EEF;
	text-decoration: none;
	font-size: 12px;
}
 
.bubbleHeader{
	margin-top: 10px;
	color:#FFF;

	font-size: 20px;

	background-color:rgba(255, 255, 255, 0.3);
	vertical-align: top;

	box-sizing:border-box;
	padding:10px;
	width:100%;

	overflow: hidden;
}

.bubbleHeader:hover{
	cursor: pointer;
	background-color:rgba(255, 255, 255, 0.1);
}

.bubbleLink, .bubbleLink:visited{
	color:#FFF;
	text-decoration: none;
}

.redditPost{
	width:100%;
}

.redditImagePost{
	width:100%;
}

.redditImage{
	float:left;
	padding-right: 10px;
}

.redditCommentLink, .redditCommentLink:visited{
	font-size: 15px;
	color: #DDD;
	float:right;
}

.redditCommentLink:hover{
	color:#FFF;
	text-decoration: none;
}

.title {
	padding-top: 10px;
	height: 50px;
	width: 100%;
	font-size: 20px;
	text-align: center;
}

.rssTitle:hover {
	background-color: rgba(255,255, 255, 0.1);
}

.rssPreview {
	padding-left: 5%;
	padding-right: 5%;
	vertical-align: top;
	font-size: 12px;
	margin-top: 10px;
}

.rssBackground {
	padding-left: 2%;
	padding-right: 2%;
	vertical-align: top;
}

.rssItems {
	height: 820px;
	overflow-y:scroll;
}

.xkcdImage {
	max-width: 100%;
}

.xkcdNavBar {
	overflow: hidden;
}

.navButton {
	float:left;
	width:32%;
	text-align: center;
	margin-left: 1%;
	padding: 2px 0;
	font-size: 14px;
	background-color:rgba(255, 255, 255, 0.3);
}

.navButton:hover {
	background-color:rgba(255, 255, 255, 0.1);
	cursor: pointer;
}



@media (max-width: 1000px) {
  .redditPanel {
		width: 50%;
		float:left;
	}

	.rssPanel {
		width: 50%;
		float:left;
	}

	.xkcdPanel {
		display: none;
	}
}

@media (min-width: 1000px) {
  .redditPanel {
		width: 30%;
		float:left;
	}

	.rssPanel {
		width: 40%;
		float:left;
	}

	.xkcdPanel {
		width: 30%;
		float:left;
	}
}

::-webkit-scrollbar {
  width: 10px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  width: 10px;
  border-radius:5px; 
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-thumb:hover{
  background-color: rgba(255, 255, 255, 0.2);
  width: 10px;
  border-radius:5px; 
} /* this will style the thumb, ignoring the track */